footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    font-size: 1rem;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icons img {
    width: 5px;  /* Make icons smaller */
    height: 5px;
    transition: transform 0.3s;
}

.footer-icons img:hover {
    transform: scale(1.2);
}

